<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameControl.Properties.Settings>
            <setting name="LastGameKindIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastTeamID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastLogoFolder" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Game</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>Funkwerk_ITK_2008</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="AvailableGamesSortByIncreasingDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartLocationBasketball" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConsolePort" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartLocationHandball" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartLocationSoccer" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartLocationIcehockey" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartLocationWaterpolo" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartLocationVolleyball" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaxPeriodsBasketball" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaxPeriodsHandball" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxPeriodsSoccer" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxPeriodsIcehockey" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxPeriodsWaterpolo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxPeriodsVolleyball" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxPeriodsTennis" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxPeriodsFootball" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartLocationTennis" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TennisEventTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="SoccerHideTeamFouls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountdownMinutesBeforeGame" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShutdownScoreboardWhenClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartlocationHockey" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartlocationBadminton" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartlocationFootball" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartlocationFloorball" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UDP_Port" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="StartLocationIndoorSoccer" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PictureDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PictureEffectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicInWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortShotTimeFootball" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MidShotTimeFootBall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LongShotTimeFootball" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBasketballTimeoutTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NamesToUpper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LAN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HDD_KeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>1000, 600</value>
            </setting>
            <setting name="TennisBadmintonSize" serializeAs="String">
                <value>1000, 600</value>
            </setting>
            <setting name="HornLength" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ShotclockHornLength" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="BasketballEdgeLightAtShotclockZero" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BasketballEdgeLightSettingsVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BasketballStartShotclockIndependent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxPeriodsFloorball" serializeAs="String">
                <value>5</value>
            </setting>
        </GameControl.Properties.Settings>
    </userSettings>
</configuration>